@{
    ViewData["Title"] = "Dashboard Propriétaire";
}

<!-- Header Start -->
<component type="typeof(ProprietaireHeader)" render-mode="Static" />
<!-- Header End -->

<!-- Main Start -->
<main>
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between">
            <!-- Salutations -->
            <div>
                <p class="text-2xl font-bold">👋 Salut, Georges</p>
            </div>
            <!-- Add item button -->
            <div>
                <a href="#" class="p-4 bg-blue-300 hover:bg-blue-400 rounded-lg">
                    Mettre un lieu en location
                </a>
            </div>
        </div>
    </div>
</main>
<!-- Main End -->