@model Utilisateurs
@{
    ViewData["Title"] = "Login";
}

<!-- Header Start -->
<component type="typeof(HeaderBeforeLogin)" render-mode="Static" />
<!-- Header End -->

<!-- Body Start -->
<main>
    <div class="container mx-auto px-4 flex justify-center items-center">
        <form class="bg-gray-200 p-8 rounded-xl w-96" method="POST">
            <div>
                <h1 class="font-bold text-3xl text-center">Connexion</h1>
            </div>
            <div class="h-8"></div>
            <div class="flex flex-col space-y-8">
                <label asp-for="Email" class="p-4 bg-white rounded-xl">
                    <input type="text" asp-for="Email" placeholder="Email"
                        class="bg-transparent outline-none font-bold w-full" />
                </label>
                <label asp-for="MotDePasse" class="p-4 bg-white rounded-xl">
                    <input type="password" asp-for="MotDePasse" placeholder="Mot de passe"
                        class="bg-transparent outline-none font-bold w-full" />
                </label>
            </div>
            <div class="h-8"></div>
            <div class="flex justify-center items-center">
                <button type="submit"
                    class="bg-blue-400 hover:bg-blue-500 hover:rounded-full transition-all duration-300 w-full p-4 rounded-xl font-bold">Se
                    connecter</button>
            </div>
            <div class="h-8"></div>
            <div>
                <p class="text-sm text-right">Vous n'avez pas de compte ? <br>
                    <a asp-controller="Signup" asp-action="Index"><span
                            class="text-blue-500 font-bold underline">Créez-en un</span></a>
                </p>
            </div>
        </form>
    </div>
</main>
<!-- Body End -->
