<!-- Footer Begin -->
<div class="h-8"></div>
<footer class="bg-white">
    <div class="container mx-auto h-64 md:h-32 px-4 py-4 flex flex-col items-center justify-center space-y-8">
        <div
            class="w-full px-16 lg:px-32 flex items-center flex-col md:flex-row justify-center gap-4 md:gap-0 md:justify-between">
            <a class="text-gray-500">About</a>
            <a class="text-gray-500">Contacts</a>
            <a class="text-gray-500">Terms of services</a>
            <a class="text-gray-500">Privacy Policy</a>
        </div>
        <div class="justify-self-end text-gray-500">
            <p>&copy;Loft Secret @(DateTime.Today.Year). Tous droits réservés</p>
        </div>
    </div>
</footer>
<!-- Footer End -->