<!-- Header Start -->
<header class="fixed top-0 left-0 w-full bg-white">
    <div class="container mx-auto px-4 h-16 flex items-center justify-between">
        <div>
            <p class="font-bold text-xl">Loft Secret <span
                    class="text-sm p-2 rounded-full bg-gray-200">Propriétaire</span></p>
        </div>
        <div>
            <!-- Search Form -->
            <DynamicComponent Type="typeof(SearchForm)" />
        </div>
        <div>
            <div class="flex items-center space-x-4 justify-center">
                <a href="#">
                    <div class="w-12 h-12 rounded-full bg-none hover:bg-gray-200 flex items-center justify-center">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </a>
                <a href="#">
                    <div
                        class="w-12 h-12 rounded-full bg-blue-200 hover:bg-blue-300 border border-blue-300 flex items-center justify-center">
                        <i class="fa-solid fa-n"></i>
                    </div>
                </a>
                <a href="#" title="Se déconnecter">
                    <div class="w-12 h-12 rounded-full bg-none hover:bg-gray-200 flex items-center justify-center">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="h-16"></div>
<div class="h-8"></div>
<!-- Header End -->