<form>
    <label for="query" class="bg-gray-200 p-4 rounded-xl flex items-center justify-stretch">
        <input name="query" id="query" class="bg-transparent outline-none font-bold w-full" required />
        <button class=""><i class="fa-solid fa-magnifying-glass"></i></button>
    </label>
</form>