<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loft Secret</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoftSecret.styles.css" asp-append-version="true" />
</head>

<body class="bg-gray-100 font-medium">
    <div>
        <div class="container mx-auto px-4">
            @RenderBody()
        </div>
    </div>

    <!-- Footer Begin -->
    <component type="typeof(Footer)" render-mode="Static" />
    <!-- Footer End -->
    <script src="~/lib/tailwindcss/tailwindcss.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
